# Backend API URL
VITE_BACKEND_URL=http://192.168.131.245:8080
VITE_BACKEND_WS_URL=ws://192.168.131.245:8080/ws

# Supabase Configuration
VITE_SUPABASE_URL=https://gswlviwmzjbjpqfjziwi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_RhlpqNQ1qKYTdT1lgcvk2w_iosru_KP
